
<header>
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <section id="about" class="about">
                <div class="container">
            
                  <div class="section-title">
                      <h1>Suraj Raccha</h1>
                                     </div>
            
                  <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                      <img src="assets/img/fggg.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                      <h3>Software Developer.</h3>
                      <p class="font-italic">
                       Looking For Oppertunity In Software Field ,I Have Knowlede About Java,C++,Angular,DataBase
                      </p>
                      <div class="row">
                        <div class="col-lg-6">
                          <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 25 Oct 1996</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 7020340023</li>
                            <li><i class="icofont-rounded-right"></i> <strong>City:</strong> City : pune ,India</li>
                          </ul>
                        </div>
                        <div class="col-lg-6">
                          <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 24</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> B.E</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> surajraccha55@gmail.com</li>
      
                          </ul>
                        </div>
                      </div>
                      <p>
                       This Application Developed For Learning Purpose in Angular 9 ,this Application help us to track Covid-19 Cases With Respective Charts
                           I used Angular Material,Responsive Form,Angular Routing,Chart.js,Ng2Chart,Bootstrap,Jquery!

                      </p>
                      <h2>Thanks For Visiting My Site</h2>
                    </div>
                  </div>
            
                </div>
              </section>
            


  
   
  

  
  

        </div>
        <!-- About Section Button-->
       
    </div>
</section>
</header>
  